@import "tailwindcss";

@layer components{
    .header_top__icon_wrapper {
        @apply bg-gray-200 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-pink-500 hover:text-white
    }

.Navbar__link:hover{
    color: blue;
    transition: all 0.4s;
}

.Navbar__link::after{
    position:absolute;
    content:"";
    background-color:blue;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
}

.Navbar__link:hover::after{
    scale: 1;
}
}